<div class="wrapper">
    <div id="page-content">
        <div id="login"></div>
        <h1>login</h1>
        <form (ngSubmit)="login(l)" #l="ngForm" autocomplete="off">
        Email
        <input type="email" name="email" id="mail" class="log" [(ngModel)]="email" required autofocus><br>
       <br> password
        <input type="password" name="password" id="password" class="log" [(ngModel)]="password" required><br><br>
        <button [disabled]="l.invalid" type="submit">LOGIN</button>
        <br>
            
        </form>
        <a routerLink="/register">DON'T HAVE AN ACCOUNT CREATE HERE.!</a>
        
    </div>
    </div>
    <div id="overlay-area"></div>